@import url('https://fonts.cdnfonts.com/css/minecraft-4');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151515;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    height: 80vh;
    /* aspect-ratio: 4/3; */
    max-width: 90vw;
    flex-shrink: 0;
}

.backbtn {
    text-decoration: none;
    display: inline-flex;
    width: 150px;
    margin-left: 5vw;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    background: linear-gradient(to bottom, #d6ff31, #a3d900);
    border: 2px solid #5a9e00;
    border-radius: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 24px;
    color: #4CAF50;
    text-shadow: 1px 1px 0 #8BC34A, -1px -1px 0 #8BC34A, 1px -1px 0 #8BC34A, -1px 1px 0 #8BC34A, 0 2px 0 #388E3C;
    cursor: pointer;
    box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.7), inset 0 -1px 5px rgba(0, 0, 0, 0.3), 0 4px 0px #2E7D32, 0 6px 6px rgba(0, 0, 0, 0.4);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.leftbox {
    flex-grow: 1;
    display: flex;
    min-width: 0;
    height: 80vh;
    align-items: flex-end;
    justify-content: flex-end;
}

.rightbox {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    height: 80vh;
    overflow: hidden;
    align-items: flex-end;
}

.account {
    width: 150px;
    margin-right: 5vw;
}

.fullscrn {
    width: 50px;
    height: 50px;
    background-color: yellow;

    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    background: linear-gradient(to bottom, #d6ff31, #a3d900);
    border: 2px solid #5a9e00;
    border-radius: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 24px;
    color: #4CAF50;
    text-shadow: 1px 1px 0 #8BC34A, -1px -1px 0 #8BC34A, 1px -1px 0 #8BC34A, -1px 1px 0 #8BC34A, 0 2px 0 #388E3C;
    cursor: pointer;
    box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.7), inset 0 -1px 5px rgba(0, 0, 0, 0.3), 0 4px 0px #2E7D32, 0 6px 6px rgba(0, 0, 0, 0.4);
}

.header {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    z-index: 12;
    background-size: contain;
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: space-between;
    border: 3px solid #07ff00;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #000000, #219300, #000000);
    border-bottom: 3px solid #07ff00;
    box-shadow: 0 0 20px rgb(0 255 44);
    position: relative;
    overflow: hidden;
}

h1 {
    color: lightgrey;
    font-family: "Minecraft", sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 0;
    height: 60px;
}

ruffle-player {
  width: 100% !important;   /* force match container */
  height: 100% !important;  /* force match container */
  display: block;
}







