body {
    background-color: #202020;
    margin: 0;
}

h1 {
    color: red;
    font-family: monospace;
    text-align: center;
    margin-left: 20px;
    width: 70vw;
}

.gamegrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 50px 30px;
    padding: 0 25px;
    justify-content: middle;
    margin-top: 25px;
}

.gamegrid > div {
    background-color: #440000;
    text-align: center;
    padding: 20px 0;
}
